{
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "printWidth": 100,
  "semi": true,
  "useTabs": false,
  "trailingComma": "all",
  "singleQuote": true
}
