{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "printWidth": 100,
  "semi": true,
  "useTabs": false,
  "trailingComma": "es5",
  "singleQuote": true
}
